%pre .idle .TypeName {
  color: #21439C; }
%pre .idle .Number {
  color: #111; }
%pre .idle .LibraryVariable {
  color: #A535AE; }
%pre .idle .Storage {
  color: #FF5600; }
%pre .idle .line-numbers {
  background-color: #BAD6FD;
  color: #000000; }
%pre .idle .StringInterpolation {
  color: #990000; }
%pre .idle .LibraryConstant {
  color: #A535AE; }
%pre .idle .BuiltInConstant {
  color: #A535AE; }
%pre .idle .Invalid {
  background-color: #990000;
  color: #FFFFFF; }
%pre .idle .LibraryClassType {
  color: #A535AE; }
%pre .idle .LibraryFunction {
  color: #A535AE; }
%pre .idle .Keyword {
  color: #FF5600; }
%pre .idle .String {
  color: #00A33F; }
%pre .idle .FunctionName {
  color: #21439C; }
%pre .idle .Comment {
  color: #919191; }
