body {
  font: 0.9em "Trebuchet MS", Verdana, Arial, sans-serif;
  margin: 0 auto;
  background: #eeeeee;
  font-size: 14px;
  line-height: 1.6; }

a {
  color: #ff1100;
  text-decoration: none; }

img {
  border: 0; }

h1 {
  float: left;
  margin: 20px 0 50px;
  font-size: 4em; }

h2 {
  font-size: 2.4em;
  font-weight: normal;
  margin: 0 0 20px; }
  h2 a:hover {
    background: #a82a15;
    color: white; }

hr {
  border: none;
  height: 1px;
  line-height: 1px;
  background: #cccccc;
  margin-bottom: 20px;
  padding: 0; }

p {
  margin: 5px 0 15px;
  font-size: 1.1em;
  line-height: 1.6em; }

pre {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  background: #333333; }

dl {
  padding: 0;
  margin: 0; }
  dl dd {
    padding: 0;
    margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0; }

#header {
  height: 200px;
  background: white url("/images/site/bg2.gif") repeat-x;
  color: #333333;
  position: relative; }
  #header h1 {
    position: absolute;
    left: 210px; }
  #header h4 {
    position: absolute;
    left: 250px;
    top: 60px;
    font-size: 1.1em;
    color: black; }
  #header img {
    position: absolute;
    top: 8px;
    left: 9px; }
  #header .emp {
    color: black; }
  #header .unemph {
    color: #ff6600; }

#content {
  margin: 30px auto;
  width: 900px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border: 1px solid #cccccc; }

#top {
  float: right;
  margin: 38px 0 30px 0; }
  #top li {
    list-style: none;
    display: inline; }
    #top li a {
      float: left;
      padding: 9px 24px;
      margin: 3px 2px 0 0;
      color: black;
      font-weight: bold; }
    #top li a.current {
      color: white;
      background: #cc6611; }
    #top li a:hover {
      background: #ff6600;
      color: white; }

#intro {
  clear: both;
  padding: 15px;
  border: 1px solid #dedede;
  font-size: 1.3em;
  background: #eeeeee;
  margin: 10px 0 30px; }

#left {
  float: left;
  width: 520px;
  margin: 0 0 15px; }
  #left dl {
    margin-top: 5px; }
    #left dl dt {
      font-size: 1.2em;
      text-indent: 14px; }

#right {
  float: right;
  width: 350px; }
  #right h3 {
    border-bottom: 1px solid #cccccc;
    margin: 20px 0 10px; }
  #right img {
    margin: 0 3px 3px 0;
    border: 2px solid #eeeeee;
    padding: 2px; }
  #right ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #right ul li {
      list-style: none;
      padding: 0; }
      #right ul li a {
        display: block;
        padding: 5px 5px; }
      #right ul li a:hover {
        background: #eeeeee; }

#footer {
  clear: both;
  padding: 15px 0;
  border-top: 1px solid #cccccc;
  background: right 0 url("/images/site/bee_boxes.gif") no-repeat;
  height: 180px; }

#node, #router, #storage {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-color: #72b9eb; }
  #node h3, #router h3, #storage h3 {
    margin: 15px 0;
    padding: 5px 10px; }

.emp {
  color: #ddaa11; }

.unemph {
  color: white; }

.clear {
  clear: both; }

.hl {
  color: #ff8800;
  font-weight: bold;
  text-decoration: underline; }

.term {
  border-bottom: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  padding: 6px 0;
  margin: 6px 0; }

.term-name {
  font-weight: bold; }

.term-def {
  padding-left: 5px; }

.doc_image {
  float: right;
  border: 1px solid #bbbbbb;
  margin: 5px;
  padding: 4px;
  width: 160px; }

.callout-box {
  float: right;
  width: 200px;
  background-color: #f2fbff;
  border: 4px solid #72b9eb;
  padding: 5px 5px;
  margin: 8px; }
  .callout-box .callout-title {
    position: relative;
    top: -15px;
    left: -10px;
    font-size: 1.1em;
    width: 80%;
    background: white; }
  .callout-box .callout_image {
    position: relative;
    top: -25px;
    left: 10px;
    width: 50px; }
  .callout-box .callout-content {
    background: #f2fbff; }
  .callout-box .callout-wrapper {
    height: 1px;
    position: relative;
    top: -25px;
    left: 10px;
    float: right; }

ul .last {
  border-bottom: 0px solid #eeee77; }

.dots li {
  margin-left: 25px;
  margin-bottom: 5px;
  padding-left: 5px;
  list-style-type: disc; }
