pre {
  padding: 5px; }

.blackboard {
  background-color: #0c1021;
  color: #eeee77; }
  .blackboard .LatexSupport {
    color: #fbde2d; }
  .blackboard .OcamlInfixOperator {
    color: #8da6ce; }
  .blackboard .MetaFunctionCallPy {
    color: #becde6; }
  .blackboard .Superclass {
    color: #ff6400;
    font-style: italic; }
  .blackboard .Constant {
    color: #d8fa3c; }
  .blackboard .OcamlFPConstant {
    text-decoration: underline; }
  .blackboard .OcamlFPInfixOperator {
    text-decoration: underline; }
  .blackboard .Support {
    color: #8da6ce; }
  .blackboard .OcamlOperator {
    color: #f8f8f8; }
  .blackboard .Storage {
    color: #fbde2d; }
  .blackboard .line-numbers {
    background-color: #253b76;
    color: white; }
  .blackboard .StringInterpolation {
    color: #ff6400; }
  .blackboard .InvalidIllegal {
    background-color: #9d1e15;
    color: #f8f8f8; }
  .blackboard .PlistUnquotedString {
    color: white; }
  .blackboard .OcamlVariant {
    color: #d5e0f3; }
  .blackboard .MetaTag {
    color: #7f90aa; }
  .blackboard .LatexEnvironment {
    background-color: #f7f7f8; }
  .blackboard .OcamlFPPrefixOperator {
    text-decoration: underline; }
  .blackboard .OcamlPrefixOperator {
    color: #8da6ce; }
  .blackboard .EntityNameSection {
    color: white; }
  .blackboard .String {
    color: #61ce3c; }
  .blackboard .Keyword {
    color: #fbde2d; }
  .blackboard .LatexEnvironmentNested {
    background-color: #7691f3; }
  .blackboard .InvalidDeprecated {
    color: #ab2a1d;
    font-style: italic; }
  .blackboard .Variable {
    color: #ab2a1d; }
  .blackboard .Entity {
    color: #ff6400; }
  .blackboard .Comment {
    color: #aeaeae; }
