#header_nav
  %ul
    %li= link_to "Home", "/"
    %li= link_to "Documentation", "/documentation.html"
    %li.source= link_to "Source", "http://github.com/auser/beehive"
    %li.no_right= link_to "Community", "/community.html"
