- @layout = "index"
%h2
  What
%p
  Beehive is an open-source application deployment framework. It's goal is to provide a stable, scalable, fault-tolerant application in an unstable environment. Written in <a href="http://www.erlang.org/">Erlang</a> and <a href="http://www.ruby-lang.org/">Ruby</a>, Beehive provides a distributed router that sits in front of a mesh of client instances. 

%h3 Features
%ul.dots
  %li 
    Open-source
  %li 
    API driven through a <a href="http://en.wikipedia.org/wiki/Representational_State_Transfer">RESTful</a> interface.
  %li
    Distributed via 