= stylesheets
%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}/
%meta{'name' => 'author', :content => 'Ari Lerner'}/
%meta{'name' => 'description', :content => 'Dynamic, highly scalable web application router and bee mesh from getbeehive.com'}/
= google_analytics "UA-8105436-7"
= javascripts