#header
  %a{:href => "/"}
    / %img{:src => "/images/logo2.png", :height => "180"}
    / %img{:src => "/images/logo1.png", :height => "180"}
    %img{:src => "/images/site/logo3.png", :height => "180"}
    %h1
      <span class="emp">Bee</span><span class="unemph">hive</span>
    %h4
      A swarm of applications
  = partial("_top_links")