%h2 Community
%p
  There is a growing community around beehive. Check at the google groups mailing list for some buzz around beehive
%ul
  %li
    Irc: <a href="http://widget.mibbit.com/?settings=2f7d1724970109fcafa765385163f271&server=irc.freenode.net&channel=%23beehive" target=_blank>irc.freenode.net / #beehive</a>
  %li
    Mailing list: <a href="http://groups.google.com/group/getbeehive">Google groups</a>